
@{
    ViewBag.Title = "Input";
}
<style>
    label{
        width:100px;
        float:left;
    }
</style>

<h2>Input Student</h2>
<form action="/Haui/Output4" method="post">
    <p>
        <label>Name</label>
        <input type="text" name="name"/>
    </p>
    <p>
        <label>Age</label>
        <input type="text" name="age"/>
    </p>
    <p>
        <label>Mark</label>
        <input type="text" name="mark"/>
    </p>
    <p>
        <input type="submit" value="Send" />
        <input type="reset" value="Cancel" />
    </p>

</form>


